*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;

}
body{
display: flex;
justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;










}.bg{
    background:
    url('https://images.unsplash.com/photo-1539768942893-daf53e448371?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
.loading-text{
    font-size: 50px;
    color: aliceblue;
}